@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgb(152, 157, 170) 0%, rgb(29, 39, 39) 100%);
}

.App {
  text-align: center;
  color:white;
}

header {
  display: flex;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 0, 0));
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 8vh;
  justify-content: space-between;
}

header button{
  height: 31px;
  background-color:white;
  font-weight: 700;
  margin-right: 20px;
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
  border:none;
}
header button:hover{
  background-color: #d9dadb;
}

.active{
  background-color: #8a8a8a;
}

h3{
  margin: 3px;
  padding: 3px;
}

.container {
  display: flex; /* Use Flexbox */
  justify-content: space-between; /* Distribute space between elements */
  margin: 20px;
}

.left {
  align-self: flex-start; /* Align left */
}

.form {
  align-self: center; /* Align center */
}

.right {
  align-self: flex-end; /* Align right */
}

img {
  border: #010f0f 2px solid;
}

.radio-label {
  font-size: 14px;
  font-weight: 400;
  margin-right: 7px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.radio-input {
  margin: 0;
  visibility: hidden;
}

.radio-input:checked + span {
  border: 2px solid #ffffff;
}

.radio-input:checked + span:after {
  opacity: 1;
}

.custom-radio {
  left: -8px;
  top: 6px;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border: 2px solid #9a9a9a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.custom-radio::after {
  content: '';
  width: 12px;
  height: 12px;
  background: #ffffff;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

img{
  height: 50vh;
}

form {
  display: inline-block;
  border: 2px solid rgb(53, 50, 50);
  width: fit-content;
  margin-top:15vh;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  background-image: linear-gradient(to top, rgb(59, 57, 57), rgba(255,0,0,0), rgb(59, 57, 57));
  padding-bottom: 5vh;
}
form h3{
  font-weight: bolder;
  background-color: rgb(53, 50, 50);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin: 0px;
  padding: 5px;
  border-bottom: 1px solid white;
}
form p{
  margin-left: 15px;
  text-align: left;
  font-weight: bold;
}

form input{
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  border-radius: 0.25em;
  width: 84%;
  padding: 0.5em 0.5em;
  font-size: 1.1rem;
  line-height: 1.1;
  margin-bottom: 20px;
  border:none;
  margin: 10px;
  background-color: rgb(22, 21, 21);
  color: white;
}

form input[type="submit"] {
  width:92%;
  justify-content: center;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color:  #797c7c;

  font-weight: bold;
}

form input[type="submit"]:hover {
  background-color: white;
  color: black;
}

.orders{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

table {
  width: 80%;
  margin: 10px;
}

th {
  background-color: #9a9a9a;
  border: 1px solid #777;
  padding: 0.5rem;
  text-align: center;
}
td{
  padding: 0.5rem;
  text-align: center;
}

table {
  border-collapse: collapse;

}
tbody tr:nth-child(even) {
  background-color: white;
  color: black; 
}
tbody tr:nth-child(odd) {
  background-color: white;
  color: black;
}
